<!DOCTYPE html>
<html>

  {% include head.html %}

<body>
  <div id="wrapper">
    <div id="sidebar">
        <div id="sidebar-brand">
          <h1 class="text-center"> Iris Moondance</h1>
        </div>
        <ul class="sidebar-nav list-group">
            <a href="#"><li class="sidebar-li list-group-item">January <span class="badge pull-right">3</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">February <span class="badge pull-right">2</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">March <span class="badge pull-right">5</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">April <span class="badge pull-right">6</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">May <span class="badge pull-right">7</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">June <span class="badge pull-right">2</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">July <span class="badge pull-right">3</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">August <span class="badge pull-right">4</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">September <span class="badge pull-right">5</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">October <span class="badge pull-right">4</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">November <span class="badge pull-right">3</span></li></a>
            <a href="#"><li class="sidebar-li list-group-item">December <span class="badge pull-right">2</span></li></a>
        </ul>
    </div>
    <div id="page-content">
        <div class="page-content">
            <div class="jumbotron">
              <div class="container">
                <h1 class="text-center">Moondance</h1>
                <button class="pull-right" onclick="toggleSidebar()">Menu</button>
              </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        yoooooo
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

    {% include footer.html %}

  </body>

</html>
